/** @format */

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  padding: 20px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 3px 3px 9px #000;
}
span {
  color: #6d95cc;
}
.button {
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: inherit;
  border: 3px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 3px 3px 9px #000;
}
.button:hover {
  background-color: #000;
  transform: scale(1.05);
}
